mixin card(card, isVertical, extraClasses)
  article(class=`card ${isVertical ? 'card--vertical' : ''} ${extraClasses ? extraClasses : ''}`)
    img.card__thumbnail(src=`${card.imgUrl}`, alt=`${card.heading}`)/

    .card__text-box
      a.card__topic.card__topic--primary(href="/src/views/pages/blogs/sample.pug") #{card.topic}
      a.card__heading-link(href="/src/views/pages/blogs/sample.pug")
        h5.card__heading #{card.heading}
      p.card__excerpt #{card.excerpt}
      time.card__datetime 📅 #{card.date} #{card.time ? `- 🕜 ${card.time}` : ''}

